### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

##bancodedados##
cadastros.txt

# Pasta de configuração do IntelliJ
.idea/

# Arquivos de compilação
*.class

# Dependências do Maven
target/

# Dependências do Gradle
.gradle/
build/

# Arquivos de cache do sistema
*.iml
